<!DOCTYPE html>
<html>
<head>
    {% include "include/header" %}
</head>
<body>
{% include "include/nav" %}
<div class="container">
    <br>
    <div class="alert alert-warning" role="alert">没有 musics !</div>
    <br/>
</div><!-- End container -->
{% include "include/footer" %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#url").focus();
    });
</script>
</body>
</html>
